body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f7f7f7;
  margin: 0px;
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 60px;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.introducao h1 {
  font-size: 2rem;
}
a {
  text-decoration: none;
}
p,
h1,
h2,
h3 {
  margin: 0px;
}
p {
  font-size: 1.25rem;
  line-height: 1.3;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.menu a {
  background: #ffffff;
  padding: 1rem 2rem;
  border-radius: 4px;
  color: #000;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  /* se deixar só o menu a:hover quando passamos o mouse a tela fica pulando,então
  coloquei essa tag com a mesma cor do background,por padrão o menu hover coloca valores */
}
.menu a:hover {
  border: 2px solid #81cffc;
  /* podemos colocar tambem border-color:a cor que da na mesma agora */
}
.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}
.introducao {
  background: #fff;
  padding: 2.25rem;
  text-align: right;
  position: relative; /* pra funcionar o top,right do Detalhe em cima da foto com a introdução*/
  display: grid; /*para ficar tudo alinhado e o botão do link ficar certo.*/
  align-content: center;
  gap: 20px;
  justify-items: end;
}
/*BEFORE cria um pseudo-elemento que é o primeiro filho do elemento atingido. É frequentemente utilizado para adicionar conteúdo decorativo*/
.introducao::before {
  content: ""; /*tem que ter esse elemento,senão não funciona,é regra*/
  width: 60px;
  height: 4px;
  background: #81cffc;
  /*display: inline-block; ele consegue definir com esse inline só,aí aparece,NÃO PRECISA MAIS DESSE ELEMENTO,POIS AGORA A INTRODUAÇAO VIROU GRID*/
  position: absolute; /*pra nao influenciar nada nos elementos é o absolute*/
  top: 30px;
  right: -30px; /*usando negativo para ficar ao centro,positivo ele fica só na introdução*/
}

/* CRIANDO A COR DO BOTÃO */
.botao {
  background: #81cffc;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 4px;
  text-transform: uppercase;
}
.botao:hover {
  background: #030099;
}

.subtitulo {
  font-size: 4rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  text-align: right;
  padding: 2.5rem;
  align-self: center;
  background-image: url("./img/onda.svg");
}
.vantagens {
  background: #fff;
  padding: 60px;
}
.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 1.25rem;
  border-left: 4px solid #fff;
  /* mesmo esquema do menu a */
}
.vantagens-item:nth-child(odd) {
  background: #f7f7f7; /*pintara de cor cinza só numeros impares,o primeiro e o tercieor,se tivesse 5 elementos,7 elementos,só pintaria numero impar com a tagg nth-child(odd)odd significa impar*/
}
.vantagens-item:hover {
  border-left: 4px solid #81cffc;
}
.vantagens-item p {
  grid-column: 1;
}
.rodape {
  background: #fff;
  width: 100%;
  text-align: center;
  padding: 2.25rem; /*A soma do width + padding=140 no layout aparece a barrinha mostra que esta vazando a tela,então incluimos o box-sizing*/
  box-sizing: border-box; /*Muito bom */
}
